/* @font-face {
  font-family: 'TT Commons';
  src: url('./assets/fonts/Commons/TTCommons-Regular.woff2') format('woff2'),
    url('./assets/fonts/Commons/TTCommons-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons';
  src: url('./assets/fonts/Commons/TTCommons-Bold.woff2') format('woff2'),
    url('./assets/fonts/Commons/TTCommons-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
} */

* {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
